.c-address{
    padding-bottom: 0 !important;

    &.has-addresses{
        .o-address-form{
            margin-top: 32px;
        }
    }

    .o-address-cards{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .o-address-cards_card{
            display: inline-block;
            padding: 16px;
            border-radius: 8px;
            border: 2px solid $slate;
            min-height: 158px;
            background-color: $white;
            cursor: pointer;
            transition: all 150ms $ease;

            @include hover{
                border-color: $gray;

                svg{
                    .cls-2 {
                        stroke: $gray;
                    }
                    
                    .cls-3 {
                        fill: $gray;
                    }
                }
            }

            &.is-selected{
                box-shadow: 0 2px 8px rgba($primary, 0.15);
                border-color: $primary;

                svg{
                    .cls-2 {
                        stroke: $primary;
                    }
                    
                    .cls-3 {
                        fill: $primary;
                    }
                }
            }

            svg{
                vertical-align: top;
                
                .cls-2 {
                    fill: none;
                    stroke: $slate;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                    transition: all 150ms $ease;
                }
                
                .cls-3 {
                    fill: $slate;
                    transition: all 150ms $ease;
                }
            }

            .o-address-cards_card_details{
                width: calc(100% - 41px);
                margin-left: 16px;
                vertical-align: top;

                li{
                    font-size: 14px;
                    line-height: 25px;
                    color: $gray;
                    opacity: 0.6;
                    width: 100%;

                    &.has-highlight{
                        font-size: 16px;
                        color: $font;
                        opacity: 0.87;
                    }
                }
            }
        }

        .o-address-cards_new{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            padding: 16px;
            min-height: 158px;
            border-radius: 8px;
            border: 2px dashed $slate;
            cursor: pointer;
            transition: all 150ms $ease;

            @include hover{
                border-color: $gray;

                .o-address-cards_new_details{
                    svg,
                    span{
                        color: $gray;
                    }
                }
            }

            .o-address-cards_new_details{
                display: inline-block;
                position: relative;
                user-select: none;

                svg{
                    color: rgba($slate, 0.87);
                    height: 32px;
                    display: block;
                    margin: 0 auto 8px;
                    transition: all 150ms $ease;
                }

                span{
                    font-size: 16px;
                    text-transform: uppercase;
                    color: rgba($slate, 0.87);
                    transition: all 150ms $ease;
                }
            }
        }
    }

    .o-address-form{
        width: 100%;
        overflow: hidden;

        .o-checkout-button{
            svg{
                width: 12px;
                height: 12px;
            }
        }

        .o-address-form_extra_lines{
            width: 100%;
        }

        h2{
            font-size: 16px;
            color: rgba($font, 0.87);
            line-height: 25px;
            margin-bottom: 16px;
            display: block;
            font-weight: 500;
        }

        form{
            width: 100%;

            #overflow-fix{
                margin-bottom: 4px;
            }
        }
    }
}