.o-checkout-input{
    display: inline-block;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    transition: margin-bottom 150ms $ease;
    will-change: margin-bottom;

    @include hover{
        input,
        select{
            border-color: rgba($gray, 0.6);
        }
        label,
        svg{
            color: rgba($gray, 0.6) !important;
        }
    }

    &.has-focus{
        input,
        select{
            border-color: rgba($primary, 0.87);
            color: rgba($font, 0.87);
        }
        label{
            color: rgba($primary, 0.87) !important;
            font-size: 13px;
            transform: translateY(-8px);
            transition: color 150ms $ease, transform 150ms $ease-in, font-size 150ms $ease-in;
        }
        svg{
            color: rgba($primary, 0.87) !important;
        }
    }

    &.has-value{
        label{
            color: $slate;
            font-size: 13px;
            transform: translateY(-8px);
            transition: color 150ms $ease, transform 150ms $ease-in, font-size 150ms $ease-in;
        }
    }

    &.is-invalid{
        margin-bottom: 32px;

        .o-checkout-input_message{
            opacity: 1;
        }

        input,
        select{
            border-color: rgba($error, 0.87);
            color: rgba($font, 0.87);
        }
        label{
            color: rgba($error, 0.87) !important;
            font-size: 13px;
            transform: translateY(-8px);
            transition: color 150ms $ease, transform 150ms $ease-in, font-size 150ms $ease-in;
        }
        svg{
            color: rgba($error, 0.87) !important;
        }
    }

    .o-checkout-input_message{
        font-size: 13px;
        position: absolute;
        top: 100%;
        transform: translateY(6px);
        left: 4px;
        color: rgba($error, 0.87);
        opacity: 0;
        transition: opacity 150ms $ease;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    input,
    select{
        font-size: 16px;
        color: rgba($font, 0.6);
        line-height: 48px;
        height: 48px;
        background-color: transparent;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 2px solid $slate;
        border-radius: 4px;
        padding: 0 16px;
        transition: all 150ms $ease;
        appearance: none;
        -webkit-appearance: none;

        &::-ms-expand{
            display: none;
        }
    }

    svg{
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        color: $slate;
        transition: color 150ms $ease;
    }

    label{
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 12px;
        transform: translateY(12px);
        color: $slate;
        transition: color 150ms $ease, transform 150ms $ease-sharp, font-size 150ms $ease-sharp;
        user-select: none;
        pointer-events: none;
        background-color: $white;
        padding: 0 4px;
    }
}

.o-checkout-button{
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 150ms $ease;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    &:not(:only-child){
        margin: 0 8px;

        &:first-child{
            margin-left: 0;
        }

        &:last-child{
            margin-right: 0;
        }
    }

    &.-raised{
        color: $white;
        background-color: $primary;
        box-shadow: 0 1px 4px rgba($primary, 0.3);

        @include hover{
            background-color: lighten($primary, 3);
            box-shadow: 0 2px 8px rgba($primary, 0.3);
        }

        @include active{
            background-color: darken($primary, 3);
            box-shadow: 0 2px 8px rgba($primary, 0.3);
        }

        &.-alt{
            background-color: $white;
            color: rgba($primary, 0.87);
            box-shadow: 0 2px 4px rgba($primary, 0.1);

            @include hover{
                background-color: lighten($white, 3);
                box-shadow: 0 2px 8px rgba($primary, 0.1);
            }
    
            @include active{
                background-color: darken($white, 3);
                box-shadow: 0 2px 8px rgba($primary, 0.1);
            }
        }
    }

    &.-outline{
        color: rgba($primary, 0.87);
        border: 2px solid $slate;
        font-size: 14px;
        line-height: 32px;
        background-color: rgba($primary, 0);

        svg{
            transform: translateY(1px);
        }

        @include hover{
            background-color: rgba($primary, 0.05);
            border-color: rgba($primary, 0.87);
        }
    }

    &.has-icon{
        padding-left: 12px;

        svg{
            margin-right: 4px;
        }
    }

    &.is-disabled{
        background-color: rgba($off-black, 0.05);
        color: rgba($off-black, 0.15);
        box-shadow: none;
    }

    &.-round{
        border-radius: 18px;
    }
}

.o-checkout-link{
    height: 36px;
    line-height: 36px;
    padding: 0 2px;
    font-size: 16px;
    color: rgba($primary, 0.6);
    transition: all 150ms $ease;

    @include hover{
        color: rgba($primary, 0.87);
    }

    svg{
        height: 10px;
        margin: 0 4px;
    }
}

.o-checkout-form{

    .o-checkout-form-grid{
        width: 100%;
        display: grid;

        &.-thirds{
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;
        }

        &.-half{
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }
    }

    .o-checkout-form_buttons{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }

        &.-right{
            justify-content: flex-end;
        }

        &.-left{
            justify-content: flex-start;
        }
    }
}

.o-checkout-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: rgba($off-black, 0);
    animation: popupFade 150ms $ease forwards;

    .o-checkout-popup_message{
        background-color: $white;
        border-radius: 4px;
        padding: 16px 8px 8px 16px;
        min-width: 256px;
        box-shadow: 0 2px 8px rgba($off-black, 0.3);
        transform: scale(0.87);
        opacity: 0;
        animation: messagePopup 150ms $ease-in forwards;

        h3{
            display: block;
            color: $font;
            opacity: 0.87;
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
            margin-bottom: 16px;
        }

        button{
            float: right;
            margin-left: 8px;
            text-transform: uppercase;
            font-size: 14px;
            border-radius: 4px;
            background-color: transparent;
            line-height: 36px;
            padding: 0 8px;
            color: $font;
            transition: all 150ms $ease;
            cursor: pointer;

            @include hover{
                background-color: rgba($primary, 0.05);
            }

            &.-delete{
                color: $error;
                
                @include hover{
                    background-color: rgba($error, 0.05);
                }
            }
        }
    }
}

@keyframes popupFade{
    from{
        background-color: rgba($off-black, 0);
    }
    to{
        background-color: rgba($off-black, 0.6);
    }
}

@keyframes messagePopup{
    from{
        transform: scale(0.87);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}