.o-checkout-input{
    display: inline-block;
    width: 100%;
    height: 48px;
    margin-bottom: 18px;
    transition: margin-bottom 150ms $ease;
    will-change: margin-bottom;

    @include hover{
        input{
            border-color: rgba($gray, 0.6);
        }
        label{
            color: rgba($gray, 0.6) !important;
        }
    }

    &.has-focus{
        input{
            border-color: rgba($primary, 0.87);
            color: rgba($font, 0.87);
        }
        label{
            color: rgba($primary, 0.87) !important;
            font-size: 13px;
            transform: translateY(-8px);
            transition: color 150ms $ease, transform 150ms $ease-in, font-size 150ms $ease-in;
        }
    }

    &.has-value{
        label{
            color: $slate;
            font-size: 13px;
            transform: translateY(-8px);
            transition: color 150ms $ease, transform 150ms $ease-in, font-size 150ms $ease-in;
        }
    }

    &.is-invalid{
        margin-bottom: 32px;

        .o-checkout-input_message{
            opacity: 1;
        }

        input{
            border-color: rgba($error, 0.87);
            color: rgba($font, 0.87);
        }
        label{
            color: rgba($error, 0.87) !important;
            font-size: 13px;
            transform: translateY(-8px);
            transition: color 150ms $ease, transform 150ms $ease-in, font-size 150ms $ease-in;
        }
    }

    .o-checkout-input_message{
        font-size: 13px;
        position: absolute;
        top: 100%;
        transform: translateY(8px);
        left: 4px;
        color: rgba($error, 0.87);
        opacity: 0;
        transition: opacity 150ms $ease;
    }

    input{
        font-size: 16px;
        color: rgba($font, 0.6);
        line-height: 48px;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 2px solid $slate;
        border-radius: 4px;
        padding: 0 16px;
        transition: all 150ms $ease;
    }

    label{
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 12px;
        transform: translateY(14px);
        color: $slate;
        transition: color 150ms $ease, transform 150ms $ease-sharp, font-size 150ms $ease-sharp;
        user-select: none;
        pointer-events: none;
        background-color: $white;
        padding: 0 4px;
    }
}

.o-checkout-button{
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 150ms $ease;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    &:not(:only-child){
        margin: 0 8px;

        &:first-child{
            margin-left: 0;
        }

        &:last-child{
            margin-right: 0;
        }
    }

    &.-raised{
        color: $white;
        background-color: $primary;
        box-shadow: 0 1px 4px rgba($primary, 0.3);

        &.-alt{
            background-color: $white;
            color: rgba($primary, 0.87);
            box-shadow: 0 2px 4px rgba($primary, 0.1);
        }
    }

    &.-outline{
        color: rgba($primary, 0.87);
        border: 2px solid $slate;
        font-size: 14px;
        line-height: 32px;
        background-color: rgba($primary, 0);

        svg{
            transform: translateY(1px);
        }

        @include hover{
            background-color: rgba($primary, 0.05);
            border-color: rgba($primary, 0.87);
        }
    }

    &.has-icon{
        padding-left: 12px;

        svg{
            margin-right: 4px;
        }
    }

    &.is-disabled{
        background-color: rgba($off-black, 0.05);
        color: rgba($off-black, 0.15);
        box-shadow: none;
    }
}

.o-checkout-link{
    height: 36px;
    line-height: 36px;
    padding: 0 2px;
    font-size: 16px;
    color: rgba($primary, 0.6);
    transition: all 150ms $ease;

    @include hover{
        color: rgba($primary, 0.87);
    }
}

.o-checkout-form{
    .o-checkout-form_buttons{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }

        &.-right{
            justify-content: flex-end;
        }

        &.-left{
            justify-content: flex-start;
        }
    }
}