@import './settings';
@import './checkout/main';

html{
    display: block;
    width: 100vw;
}

body{
    background-color: $cool-white;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0;
    width: 100%;
    overflow-x: hidden;

    *{
        margin: 0;
        padding: 0;
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        border: none;
        outline: none;
        text-decoration: none;
    }
}