.o-checkout-input {
  display: inline-block;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  transition: margin-bottom 150ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: margin-bottom; }
  .o-checkout-input:hover input,
  .o-checkout-input:hover select {
    border-color: rgba(161, 162, 166, 0.6); }
  .o-checkout-input:hover label,
  .o-checkout-input:hover svg {
    color: rgba(161, 162, 166, 0.6) !important; }
  .o-checkout-input.has-focus input,
  .o-checkout-input.has-focus select {
    border-color: rgba(104, 130, 191, 0.87);
    color: rgba(56, 41, 62, 0.87); }
  .o-checkout-input.has-focus label {
    color: rgba(104, 130, 191, 0.87) !important;
    font-size: 13px;
    transform: translateY(-8px);
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 150ms cubic-bezier(0, 0, 0.2, 1), font-size 150ms cubic-bezier(0, 0, 0.2, 1); }
  .o-checkout-input.has-focus svg {
    color: rgba(104, 130, 191, 0.87) !important; }
  .o-checkout-input.has-value label {
    color: #E1E6F0;
    font-size: 13px;
    transform: translateY(-8px);
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 150ms cubic-bezier(0, 0, 0.2, 1), font-size 150ms cubic-bezier(0, 0, 0.2, 1); }
  .o-checkout-input.is-invalid {
    margin-bottom: 32px; }
    .o-checkout-input.is-invalid .o-checkout-input_message {
      opacity: 1; }
    .o-checkout-input.is-invalid input,
    .o-checkout-input.is-invalid select {
      border-color: rgba(255, 73, 73, 0.87);
      color: rgba(56, 41, 62, 0.87); }
    .o-checkout-input.is-invalid label {
      color: rgba(255, 73, 73, 0.87) !important;
      font-size: 13px;
      transform: translateY(-8px);
      transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 150ms cubic-bezier(0, 0, 0.2, 1), font-size 150ms cubic-bezier(0, 0, 0.2, 1); }
    .o-checkout-input.is-invalid svg {
      color: rgba(255, 73, 73, 0.87) !important; }
  .o-checkout-input .o-checkout-input_message {
    font-size: 13px;
    position: absolute;
    top: 100%;
    transform: translateY(6px);
    left: 4px;
    color: rgba(255, 73, 73, 0.87);
    opacity: 0;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; }
  .o-checkout-input input,
  .o-checkout-input select {
    font-size: 16px;
    color: rgba(56, 41, 62, 0.6);
    line-height: 48px;
    height: 48px;
    background-color: transparent;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 2px solid #E1E6F0;
    border-radius: 4px;
    padding: 0 16px;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    appearance: none;
    -webkit-appearance: none; }
    .o-checkout-input input::-ms-expand,
    .o-checkout-input select::-ms-expand {
      display: none; }
  .o-checkout-input svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    color: #E1E6F0;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1); }
  .o-checkout-input label {
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 12px;
    transform: translateY(12px);
    color: #E1E6F0;
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1), transform 150ms cubic-bezier(0.4, 0, 0.6, 1), font-size 150ms cubic-bezier(0.4, 0, 0.6, 1);
    user-select: none;
    pointer-events: none;
    background-color: #ffffff;
    padding: 0 4px; }

.o-checkout-button {
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
  cursor: pointer;
  user-select: none; }
  .o-checkout-button:not(:only-child) {
    margin: 0 8px; }
    .o-checkout-button:not(:only-child):first-child {
      margin-left: 0; }
    .o-checkout-button:not(:only-child):last-child {
      margin-right: 0; }
  .o-checkout-button.-raised {
    color: #ffffff;
    background-color: #6882BF;
    box-shadow: 0 1px 4px rgba(104, 130, 191, 0.3); }
    .o-checkout-button.-raised:hover {
      background-color: #738bc4;
      box-shadow: 0 2px 8px rgba(104, 130, 191, 0.3); }
    .o-checkout-button.-raised:active {
      background-color: #5d79ba;
      box-shadow: 0 2px 8px rgba(104, 130, 191, 0.3); }
    .o-checkout-button.-raised.-alt {
      background-color: #ffffff;
      color: rgba(104, 130, 191, 0.87);
      box-shadow: 0 2px 4px rgba(104, 130, 191, 0.1); }
      .o-checkout-button.-raised.-alt:hover {
        background-color: white;
        box-shadow: 0 2px 8px rgba(104, 130, 191, 0.1); }
      .o-checkout-button.-raised.-alt:active {
        background-color: #f7f7f7;
        box-shadow: 0 2px 8px rgba(104, 130, 191, 0.1); }
  .o-checkout-button.-outline {
    color: rgba(104, 130, 191, 0.87);
    border: 2px solid #E1E6F0;
    font-size: 14px;
    line-height: 32px;
    background-color: rgba(104, 130, 191, 0); }
    .o-checkout-button.-outline svg {
      transform: translateY(1px); }
    .o-checkout-button.-outline:hover {
      background-color: rgba(104, 130, 191, 0.05);
      border-color: rgba(104, 130, 191, 0.87); }
  .o-checkout-button.has-icon {
    padding-left: 12px; }
    .o-checkout-button.has-icon svg {
      margin-right: 4px; }
  .o-checkout-button.is-disabled {
    background-color: rgba(64, 64, 64, 0.05);
    color: rgba(64, 64, 64, 0.15);
    box-shadow: none; }
  .o-checkout-button.-round {
    border-radius: 18px; }

.o-checkout-link {
  height: 36px;
  line-height: 36px;
  padding: 0 2px;
  font-size: 16px;
  color: rgba(104, 130, 191, 0.6);
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); }
  .o-checkout-link:hover {
    color: rgba(104, 130, 191, 0.87); }
  .o-checkout-link svg {
    height: 10px;
    margin: 0 4px; }

.o-checkout-form .o-checkout-form-grid {
  width: 100%;
  display: grid; }
  .o-checkout-form .o-checkout-form-grid.-thirds {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px; }
  .o-checkout-form .o-checkout-form-grid.-half {
    grid-template-columns: 1fr 1fr;
    gap: 16px; }

.o-checkout-form .o-checkout-form_buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 16px; }
  .o-checkout-form .o-checkout-form_buttons:last-child {
    margin-bottom: 0; }
  .o-checkout-form .o-checkout-form_buttons.-right {
    justify-content: flex-end; }
  .o-checkout-form .o-checkout-form_buttons.-left {
    justify-content: flex-start; }

.o-checkout-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(64, 64, 64, 0);
  animation: popupFade 150ms cubic-bezier(0.4, 0, 0.2, 1) forwards; }
  .o-checkout-popup .o-checkout-popup_message {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 16px 8px 8px 16px;
    min-width: 256px;
    box-shadow: 0 2px 8px rgba(64, 64, 64, 0.3);
    transform: scale(0.87);
    opacity: 0;
    animation: messagePopup 150ms cubic-bezier(0, 0, 0.2, 1) forwards; }
    .o-checkout-popup .o-checkout-popup_message h3 {
      display: block;
      color: #38293E;
      opacity: 0.87;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
      margin-bottom: 16px; }
    .o-checkout-popup .o-checkout-popup_message button {
      float: right;
      margin-left: 8px;
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 4px;
      background-color: transparent;
      line-height: 36px;
      padding: 0 8px;
      color: #38293E;
      transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer; }
      .o-checkout-popup .o-checkout-popup_message button:hover {
        background-color: rgba(104, 130, 191, 0.05); }
      .o-checkout-popup .o-checkout-popup_message button.-delete {
        color: #FF4949; }
        .o-checkout-popup .o-checkout-popup_message button.-delete:hover {
          background-color: rgba(255, 73, 73, 0.05); }

@keyframes popupFade {
  from {
    background-color: rgba(64, 64, 64, 0); }
  to {
    background-color: rgba(64, 64, 64, 0.6); } }

@keyframes messagePopup {
  from {
    transform: scale(0.87);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

.c-checkout-header {
  width: 100vw;
  height: 96px;
  background-color: #ffffff;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #E1E6F0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; }
  .c-checkout-header .c-checkout-header_wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1196px;
    padding: 0 16px;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    .c-checkout-header .c-checkout-header_wrapper img {
      max-width: 128px; }
    .c-checkout-header .c-checkout-header_wrapper .c-checkout-header_button {
      min-width: 48px;
      height: 48px;
      border-radius: 24px;
      background-color: rgba(225, 230, 240, 0.3);
      color: rgba(56, 41, 62, 0.87);
      display: inline-flex;
      align-items: center; }
      .c-checkout-header .c-checkout-header_wrapper .c-checkout-header_button:hover .c-checkout-header_button_shim {
        width: 158px;
        margin: 0 24px;
        transition: all 300ms cubic-bezier(0, 0, 0.2, 1); }
        .c-checkout-header .c-checkout-header_wrapper .c-checkout-header_button:hover .c-checkout-header_button_shim span {
          opacity: 0.87;
          transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); }
      .c-checkout-header .c-checkout-header_wrapper .c-checkout-header_button:hover svg {
        transform: translateX(24px);
        transition: all 300ms cubic-bezier(0, 0, 0.2, 1); }
      .c-checkout-header .c-checkout-header_wrapper .c-checkout-header_button svg {
        width: 24px;
        position: relative;
        transform: translateX(11px);
        transition: all 300ms cubic-bezier(0.4, 0, 0.6, 1); }
      .c-checkout-header .c-checkout-header_wrapper .c-checkout-header_button .c-checkout-header_button_shim {
        height: 100%;
        position: relative;
        width: 0;
        overflow: hidden;
        transition: all 300ms cubic-bezier(0.4, 0, 0.6, 1);
        will-change: width;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; }
        .c-checkout-header .c-checkout-header_wrapper .c-checkout-header_button .c-checkout-header_button_shim span {
          text-align: center;
          position: relative;
          font-size: 16px;
          color: #38293E;
          opacity: 0;
          transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1); }

.c-checkout {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  max-width: 1196px;
  padding: 0 16px;
  margin-top: 96px;
  transform: translateY(0);
  transition: all 150ms 150ms cubic-bezier(0, 0, 0.2, 1); }
  .c-checkout.is-hidden {
    opacity: 0;
    transform: translateY(25px);
    pointer-events: none; }
  .c-checkout .c-checkout_sections {
    width: 100%;
    max-width: 756px;
    margin-right: auto;
    display: block;
    padding-top: 64px;
    margin-bottom: 33vh; }
    .c-checkout .c-checkout_sections .c-checkout_section {
      padding-top: 49px;
      padding-bottom: 48px;
      width: 100%;
      opacity: 0;
      transform: translateY(25px);
      transition: opacity 150ms cubic-bezier(0, 0, 0.2, 1), transform 150ms cubic-bezier(0, 0, 0.2, 1);
      pointer-events: none; }
      .c-checkout .c-checkout_sections .c-checkout_section.is-visible {
        pointer-events: all;
        transform: translateY(0);
        opacity: 1; }
      .c-checkout .c-checkout_sections .c-checkout_section.is-current-step .c-checkout_section_buttons {
        opacity: 1;
        pointer-events: all; }
      .c-checkout .c-checkout_sections .c-checkout_section h1 {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
        color: #38293E;
        opacity: 0.87;
        font-weight: 500; }
      .c-checkout .c-checkout_sections .c-checkout_section .c-checkout_modal {
        width: 100%;
        border-radius: 0 0 8px 8px;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(36, 49, 65, 0.1);
        border-top: 8px solid #6882BF;
        padding: 16px; }
      .c-checkout .c-checkout_sections .c-checkout_section .c-checkout_section_buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); }

.c-checkout_summary {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 376px;
  position: fixed;
  top: 96px;
  right: calc((100vw - 1164px) / 2);
  padding-top: 64px;
  transform: translateY(0);
  transition: all 150ms 150ms cubic-bezier(0, 0, 0.2, 1); }
  .c-checkout_summary.is-hidden {
    opacity: 0;
    transform: translateY(25px);
    pointer-events: none; }
  .c-checkout_summary .c-checkout_summary_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; }
    .c-checkout_summary .c-checkout_summary_heading h1 {
      color: #38293E;
      font-weight: 500;
      font-size: 20px;
      opacity: 0.87;
      line-height: 33px; }
    .c-checkout_summary .c-checkout_summary_heading .c-checkout_summary_chip {
      height: 28px;
      padding: 0 16px;
      border-radius: 16px;
      background-color: rgba(104, 130, 191, 0.07); }
      .c-checkout_summary .c-checkout_summary_heading .c-checkout_summary_chip span {
        font-size: 12px;
        color: rgba(104, 130, 191, 0.87);
        line-height: 28px;
        text-transform: lowercase; }
        .c-checkout_summary .c-checkout_summary_heading .c-checkout_summary_chip span:first-child {
          margin-right: 3px; }
  .c-checkout_summary .c-checkout_summary_modal {
    display: inline-flex;
    width: 100%;
    flex-flow: column wrap;
    border-width: 8px 0 0 0;
    border-style: solid;
    border-color: #6882BF;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(36, 49, 65, 0.1);
    border-radius: 0 0 8px 8px;
    margin-bottom: 32px; }
    .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table_heading {
      padding: 16px 0 16px;
      border-width: 0 0 2px 0;
      border-style: solid;
      border-color: rgba(225, 230, 240, 0.6); }
      .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table_heading span {
        font-size: 13px;
        color: rgba(56, 41, 62, 0.6); }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table_heading span:nth-child(1) {
          width: 62%;
          padding-left: 16px; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table_heading span:nth-child(2) {
          text-align: center;
          width: 16%; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table_heading span:nth-child(3) {
          text-align: right;
          padding-right: 16px;
          width: 22%; }
    .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table {
      width: 100%;
      padding: 16px;
      border-width: 0 0 2px 0;
      border-style: solid;
      border-color: rgba(225, 230, 240, 0.6); }
      .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 18px; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item:last-of-type {
          margin-bottom: 0; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_product {
          width: 64%;
          white-space: nowrap; }
          .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_product .c-checkout_summary_item_image {
            width: 64px;
            height: 64px;
            background-color: rgba(225, 230, 240, 0.3);
            border-radius: 4px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            margin-right: 8px; }
            .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_product .c-checkout_summary_item_image img {
              max-width: 100%;
              max-height: 100%;
              position: relative; }
          .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_product .c-checkout_summary_item_details {
            vertical-align: top;
            white-space: normal;
            max-width: calc(100% - 72px); }
            .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_product .c-checkout_summary_item_details h2 {
              opacity: 0.87;
              color: #38293E;
              font-size: 16px;
              font-weight: 500;
              line-height: 21px;
              display: block;
              white-space: nowrap;
              max-width: 100%;
              text-overflow: ellipsis;
              overflow: hidden; }
            .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_product .c-checkout_summary_item_details h3 {
              opacity: 0.87;
              color: #A1A2A6;
              font-size: 13px;
              line-height: 21px;
              font-weight: 400;
              display: block;
              white-space: nowrap;
              max-width: 100%;
              text-overflow: ellipsis;
              overflow: hidden; }
              .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_product .c-checkout_summary_item_details h3 span {
                vertical-align: middle; }
              .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_product .c-checkout_summary_item_details h3 svg {
                height: 12px;
                vertical-align: middle;
                transform: translateY(-1px);
                margin-left: 2px; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_qty,
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_price {
          font-weight: 500;
          font-size: 16px;
          color: #38293E;
          opacity: 0.87; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_qty {
          text-align: center;
          width: 16%; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_table .c-checkout_summary_item .c-checkout_summary_item_price {
          text-align: right;
          width: 20%; }
    .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_subtotals {
      width: 100%;
      padding: 16px;
      border-width: 0 0 2px 0;
      border-style: solid;
      border-color: rgba(225, 230, 240, 0.6); }
      .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_subtotals li {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_subtotals li .c-checkout_summary_subtotals_title {
          font-size: 13px;
          line-height: 25px;
          color: #38293E;
          opacity: 0.6; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_subtotals li .c-checkout_summary_subtotals_cost {
          font-size: 13px;
          line-height: 25px;
          color: #38293E;
          opacity: 0.87; }
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_subtotals li .c-checkout_summary_subtotals_title.has-highlight,
        .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_subtotals li .c-checkout_summary_subtotals_cost.has-highlight {
          color: #6882BF; }
    .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_total {
      width: 100%;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .c-checkout_summary .c-checkout_summary_modal .c-checkout_summary_total span {
        font-weight: 500;
        font-size: 20px;
        color: #38293E;
        line-height: 31px; }
  .c-checkout_summary .c-checkout_summary_button {
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    background-color: rgba(64, 64, 64, 0.05);
    border-radius: 4px;
    color: rgba(64, 64, 64, 0.15);
    font-weight: 500;
    font-size: 18px;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); }
    .c-checkout_summary .c-checkout_summary_button.is-active {
      color: #ffffff;
      background-color: #54EF96;
      box-shadow: 0 2px 8px rgba(84, 239, 150, 0.3); }
      .c-checkout_summary .c-checkout_summary_button.is-active:hover {
        background-color: #62f09f;
        box-shadow: 0 2px 8px rgba(84, 239, 150, 0.6); }

.c-login {
  width: 100vw;
  max-width: 840px;
  display: block;
  position: fixed;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 150ms cubic-bezier(0.4, 0, 0.6, 1);
  padding-top: 49px; }
  .c-login.is-verification {
    max-width: 420px; }
  .c-login.is-hidden {
    opacity: 0;
    pointer-events: none; }
  .c-login h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #38293E;
    opacity: 0.87;
    font-weight: 500; }

.c-account {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(36, 49, 65, 0.1);
  border-top: 8px solid #6882BF;
  padding-top: 8px; }
  .c-account #split {
    margin: 0 16px;
    width: 18px;
    height: 226px;
    user-select: none; }
    .c-account #split::before, .c-account #split::after {
      content: "";
      display: inline-block;
      background-color: #E1E6F0;
      opacity: 0.87;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 96px; }
    .c-account #split:before {
      top: 0; }
    .c-account #split:after {
      bottom: 0; }
    .c-account #split span {
      position: absolute;
      top: 50%;
      left: -50%;
      transform: translateY(-50%);
      width: 0;
      text-align: center;
      font-size: 13px;
      font-weight: bold;
      color: #E1E6F0;
      opacity: 0.87; }
  .c-account form {
    padding: 16px;
    width: 100%; }

.c-address {
  padding-bottom: 0 !important; }
  .c-address.has-addresses .o-address-cards {
    height: auto;
    overflow: auto; }
  .c-address.has-addresses .o-address-form {
    margin-top: 16px; }
    .c-address.has-addresses .o-address-form.is-visible {
      margin-top: 32px; }
  .c-address .o-address-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    height: 0;
    overflow: hidden; }
    .c-address .o-address-cards .o-address-cards_card {
      display: inline-block;
      padding: 16px;
      border-radius: 8px;
      border: 2px solid #E1E6F0;
      min-height: 158px;
      background-color: #ffffff;
      cursor: pointer;
      transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); }
      .c-address .o-address-cards .o-address-cards_card:hover {
        border-color: #A1A2A6; }
        .c-address .o-address-cards .o-address-cards_card:hover svg .cls-2 {
          stroke: #A1A2A6; }
        .c-address .o-address-cards .o-address-cards_card:hover svg .cls-3 {
          fill: #A1A2A6; }
      .c-address .o-address-cards .o-address-cards_card.is-selected {
        box-shadow: 0 2px 8px rgba(104, 130, 191, 0.15);
        border-color: #6882BF; }
        .c-address .o-address-cards .o-address-cards_card.is-selected svg .cls-2 {
          stroke: #6882BF; }
        .c-address .o-address-cards .o-address-cards_card.is-selected svg .cls-3 {
          fill: #6882BF; }
      .c-address .o-address-cards .o-address-cards_card svg {
        vertical-align: top; }
        .c-address .o-address-cards .o-address-cards_card svg .cls-2 {
          fill: none;
          stroke: #E1E6F0;
          stroke-miterlimit: 10;
          stroke-width: 3px;
          transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); }
        .c-address .o-address-cards .o-address-cards_card svg .cls-3 {
          fill: #E1E6F0;
          transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); }
      .c-address .o-address-cards .o-address-cards_card .o-address-cards_card_details {
        width: calc(100% - 41px);
        margin-left: 16px;
        vertical-align: top; }
        .c-address .o-address-cards .o-address-cards_card .o-address-cards_card_details li {
          font-size: 14px;
          line-height: 25px;
          color: #A1A2A6;
          opacity: 0.6;
          width: 100%; }
          .c-address .o-address-cards .o-address-cards_card .o-address-cards_card_details li.has-highlight {
            font-size: 16px;
            color: #38293E;
            transform: translateY(-2px);
            opacity: 0.87; }
      .c-address .o-address-cards .o-address-cards_card button {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 16px;
        right: 16px;
        color: #E1E6F0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        cursor: pointer;
        transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1); }
        .c-address .o-address-cards .o-address-cards_card button svg {
          width: 14px;
          height: 14px;
          position: relative; }
        .c-address .o-address-cards .o-address-cards_card button::before {
          display: inline-block;
          transform: scale(0);
          opacity: 0;
          content: "";
          background-color: #6882BF;
          position: absolute;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          transition: all 150ms cubic-bezier(0.4, 0, 0.6, 1); }
        .c-address .o-address-cards .o-address-cards_card button:hover {
          color: #A1A2A6; }
          .c-address .o-address-cards .o-address-cards_card button:hover:before {
            transform: scale(1);
            opacity: 0.05;
            transition: all 150ms cubic-bezier(0, 0, 0.2, 1); }
    .c-address .o-address-cards .o-address-cards_new {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      padding: 16px;
      min-height: 158px;
      border-radius: 8px;
      border: 2px dashed #E1E6F0;
      cursor: pointer;
      transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); }
      .c-address .o-address-cards .o-address-cards_new.is-hidden {
        display: none; }
      .c-address .o-address-cards .o-address-cards_new:hover {
        border-color: #A1A2A6; }
        .c-address .o-address-cards .o-address-cards_new:hover span {
          color: #A1A2A6; }
      .c-address .o-address-cards .o-address-cards_new span {
        font-size: 16px;
        text-transform: uppercase;
        color: rgba(225, 230, 240, 0.87);
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1); }
  .c-address .o-address-form {
    width: 100%;
    overflow: hidden;
    height: 0; }
    .c-address .o-address-form.is-visible {
      height: auto; }
    .c-address .o-address-form .o-checkout-button svg {
      width: 12px;
      height: 12px; }
    .c-address .o-address-form .o-address-form_extra_lines {
      width: 100%; }
    .c-address .o-address-form h2 {
      font-size: 16px;
      color: rgba(56, 41, 62, 0.87);
      line-height: 25px;
      margin-bottom: 16px;
      display: block;
      font-weight: 500; }
    .c-address .o-address-form form {
      width: 100%; }
      .c-address .o-address-form form #overflow-fix {
        margin-bottom: 4px; }

html {
  display: block;
  width: 100vw; }

body {
  background-color: #F8F9FC;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0;
  width: 100%;
  overflow-x: hidden; }
  body * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    border: none;
    outline: none;
    text-decoration: none; }

.c-progress-spinner.-circle {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  display: inline-block; }
  .c-progress-spinner.-circle .c-progress-spinner_wrapper {
    animation: infiniteCircleWrapper 2666ms linear infinite;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%; }
    .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner {
      width: 100%;
      height: 100%;
      position: relative;
      box-sizing: border-box;
      animation: infiniteCircleInner 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite; }
      .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_left,
      .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_right {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        top: 0; }
        .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_left .c-progress-spinner_spinner,
        .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_right .c-progress-spinner_spinner {
          position: absolute;
          width: 24px;
          height: 24px;
          border-width: 3px;
          border-style: solid;
          border-radius: 50%;
          box-sizing: border-box;
          top: 0;
          border-color: #1FB6FF; }
      .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_left {
        left: 0; }
        .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_left .c-progress-spinner_spinner {
          left: 0;
          border-right-color: transparent;
          animation: infiniteCircleSpinnerLeft 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite; }
      .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_right {
        right: 0; }
        .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_right .c-progress-spinner_spinner {
          right: 0;
          border-left-color: transparent;
          animation: infiniteCircleSpinnerRight 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite; }
      .c-progress-spinner.-circle .c-progress-spinner_wrapper .c-progress-spinner_inner .c-progress-spinner_gap {
        border-width: 0;
        border-top-width: 2px;
        border-style: solid;
        position: absolute;
        top: 0;
        right: 1.1875rem;
        bottom: 0;
        left: 1.1875rem; }

@keyframes infiniteCircleSpinnerRight {
  0%,
  100% {
    transform: rotate(-130deg); }
  50% {
    transform: rotate(5deg); } }

@keyframes infiniteCircleSpinnerLeft {
  0%,
  100% {
    transform: rotate(130deg); }
  50% {
    transform: rotate(-5deg); } }

@keyframes infiniteCircleInner {
  12.5% {
    transform: rotate(135deg); }
  25% {
    transform: rotate(270deg); }
  37.5% {
    transform: rotate(405deg); }
  50% {
    transform: rotate(540deg); }
  62.5% {
    transform: rotate(675deg); }
  75% {
    transform: rotate(810deg); }
  87.5% {
    transform: rotate(945deg); }
  100% {
    transform: rotate(1080deg); } }

@keyframes infiniteCircleWrapper {
  100% {
    transform: rotate(360deg); } }
